
.grid {
    width:300px;
    height:300px;
    border:solid black 1px;
    display: flex;
    flex-wrap:wrap;
    background-image: url('assets/background.png');
    
    }

.grid div {
    width:20px;
    height:20px;
}

.invader{
    background-image: url('assets/enemy.png');
    width:auto;
    height:auto;
}

.shooter{
    background-image: url('assets/hero.png');
   
}
.laser{
    background-image: url('assets/missile1.png');
    size: 1vh;
}

.boom {
    background-image: url('assets/boom.png');
}